.hidden-line-numbers,
.hidden-line-numbers::shadow {
  .line-numbers {
    text-indent: 999em;
    width: 23px;
    overflow: hidden;
    position: relative;

    .icon-right {
      position: absolute;
      left: 0;
      text-indent: 0;
    }
  }
}

.hidden-gutters,
.hidden-gutters::shadow {
  .gutter-container {
    display: none !important;
  }

  .scroll-view {
    padding-left: 0.5em;
  }
}
